doctype
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block stylesheet
      link(rel='stylesheet', href='/stylesheets/styles.css')
      link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900', rel='stylesheet', type='text/css')
      style(type='text/css').
        body {
          background-image: url("/images/bg-white.jpg") repeat;
        }

        .navbar-brand {
          font-weight: 300;
        }

  body
    nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
          a.navbar-brand(href="/") Mapagrafia

        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/create") Iniciar


    .container(role="main")
      block content

    block javascript
      script(type='text/javascript', src='/vendor/d3/d3.js')
