doctype
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block stylesheet
      link(rel='stylesheet', href='/stylesheets/styles.css')
      link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900', rel='stylesheet', type='text/css')
      style(type='text/css').
        body {
          background-image: url("/images/bg-white.jpg") repeat;
        }

        .navbar-brand {
          font-weight: 300;
        }

        footer {
          height: '40px';
          background-color: #EEE;
        }

        .follow {
          height: 300px;
          width: 150px;
          background-color: #EEE;
          position:absolute;
          right: 70px;
          top: 70px;
          z-index:100;

        }

        #follow-button {
          padding: 10px 10px 10px 10px !important;
        }



  body
    nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
          a.navbar-brand(href="/") Mapagrafia

        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/create") Iniciar


    .container(role="main")
      block content


  .follow
    a.twitter-follow-button(href="https://twitter.com/__arch3r",data-show-count="false", data-lang="es") Seguir a @__arch3r
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    block javascript
